{% extends 'base.html.twig' %}
{% block navigation %}
{% endblock %}
{% block search_row %}
{% endblock %}
{% block html_body_attr %} class="gray-bg" {% endblock %}
{% block html_body %}
    <div class="lock-word animated fadeInDown">
        <span class="first-word">LOCKED</span><span>SCREEN</span>
    </div>
    <div class="middle-box text-center lockscreen animated fadeInDown">
        <div>
            <div class="m-b-md">
                <img alt="image" class="img-circle circle-border"
                     src="https://fr.gravatar.com/userimage/9402332/559e0990bfd1be7a8866a82a9fe8dd3e.jpg?size=200">
            </div>
            <h3>Sorry</h3>
            <p>Your are in lock screen. Our site is still in private mode.</p>
            <form class="m-t" role="form" action="index.html">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="******" required="">
                </div>
                <button type="button" class="btn btn-primary block full-width">Unlock</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}
