composer.phar
web/test.php
.idea/
/web/media
*.bat
/web/js/
/web/css/
/web/uploads/

!var/spool
/var/spool/*
!var/spool/.gitkeep

!var/spool/default
/var/spool/default/*
!var/spool/default/.gitkeep

!var/tmp
/var/tmp/*
!var/tmp/.gitkeep


# default sym3
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
