# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    locale: vi
    locales:
        - en
        - vi



    phpcr_backend:
        logging: true
        profiling: true
        type: jackrabbit
        url: http://localhost:8080/server/
        parameters:
            jackalope.check_login_on_server: false
    phpcr_workspace: default
    phpcr_user: admin
    phpcr_pass: admin

    app_basepath: /kportal
    app_baseroute: /

    ffmpeg_bin: E:\Software\ffmpeg\bin\

    pager_size: 20

    facebook_client_id: ~
    facebook_client_secret: ~
    google_client_id: ~
    google_client_secret: ~

# Sonata
#    sonata.media.admin.media.class: Application\Sonata\MediaBundle\Admin\PHPCR\ApplicationMediaAdmin
    s3_bucket_name: magenta-consulting.com
    s3_access_key: ~
    s3_secret_key: ~
    s3_region: ap-southeast-1
    s3_directory: ~
