{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {#<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>#}

    <link rel="stylesheet" media="screen" href="http://localhost/001/script/handsontable-master/dist/handsontable.css">

    <link rel="stylesheet" media="screen"
          href="http://localhost/001/script/handsontable-master/dist/pikaday/pikaday.css">

    {#<link rel="stylesheet" media="screen"#}
          {#href="http://localhost/001/script/handsontable-master/demo/css/samples.css?20140331">#}
    {#<link rel="stylesheet" media="screen"#}
          {#href="http://localhost/001/script/handsontable-master/demo/css/samples.css?20140331">#}
    {#<link rel="stylesheet" media="screen"#}
          {#href="http://localhost/001/script/handsontable-master/demo/css/samples.css?20140331">#}
    {#<link rel="stylesheet" media="screen"#}
          {#href="http://localhost/001/script/handsontable-master/demo/css/samples.css?20140331">#}

    <style type="text/css">
        body {
            /*background: white;*/
            /*margin: 20px;*/
        }

        h2 {
            /*margin: 20px 0;*/
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://localhost/001/script/handsontable-master/dist/pikaday/pikaday.js"></script>
    <script src="http://localhost/001/script/handsontable-master/dist/moment/moment.js"></script>
    <script src="http://localhost/001/script/handsontable-master/dist/numbro/numbro.js"></script>
    <script src="http://localhost/001/script/handsontable-master/dist/numbro/languages.js"></script>
    <script src="http://localhost/001/script/handsontable-master/dist/handsontable.js"></script>

    <script>
        $(document).ready(function () {

            function getCarData() {
                return [
                    ["Nissan", 2009, "black", "black"],
                    ["Nissan", 2006, "blue", "blue"],
                    ["Chrysler", 2004, "yellow", "black"],
                    ["Volvo", 2012, "white", "gray"]
                ];
            }

            var container = document.getElementById('example1'),
                hot;

            hot = new Handsontable(container, {
                data: getCarData(),
                startRows: 7,
                startCols: 4,
                colHeaders: ['Car', 'Year', 'Chassis color', 'Bumper color'],
                columns: [
                    {},
                    {type: 'numeric'},
                    {
                        type: 'dropdown',
                        source: ['yellow', 'red', 'orange', 'green', 'blue', 'gray', 'black', 'white']
                    },
                    {
                        type: 'dropdown',
                        source: ['yellow', 'red', 'orange', 'green', 'blue', 'gray', 'black', 'white']
                    }
                ]
            });

            Handsontable.dom.addClass(table, 'table');
            Handsontable.dom.addClass(tableInstance, 'table-striped');


            function bindDumpButton() {

                Handsontable.dom.addEvent(document.body, 'click', function (e) {

                    var element = e.target || e.srcElement;

                    if (element.nodeName == "BUTTON" && element.name == 'dump') {
                        var name = element.getAttribute('data-dump');
                        var instance = element.getAttribute('data-instance');
                        var hot = window[instance];
                        console.log('data of ' + name, hot.getData());
                    }
                });
            }

            bindDumpButton();

        });
    </script>
{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">

        {# Add a margin if no pager to prevent dropdown cropping on window #}
        <div class="box box-primary" style="margin-bottom: 100px;">
            <div class="box-body no-padding">

                <h1>hello</h1>
                <h2>Dropdown cell type</h2>

                <p>This example shows the usage of the Dropdown feature.</p>

                <p>Dropdown is based on <a href="autocomplete.html">Autocomplete</a> cell type. All options used by
                    <code>autocomplete</code>
                    cell type apply to <code>dropdown</code> as well.</p>

                <p>Internally, cell <code>{type: "dropdown"}</code> is equivalent to cell <code>{type: "autocomplete",
                        strict:
                        true, filter: false}</code>.</p>

                <p>Therefore you can think of <code>dropdown</code> as a searchable <code>&lt;select&gt;</code>. </p>

                <div id="example1" class="handsontable htColumnHeaders"></div>

                <p>
                    <button name="dump" data-dump="#example1" data-instance="hot"
                            title="Prints current data source to Firebug/Chrome Dev Tools">Dump
                        data to console
                    </button>
                </p>
            </div>
        </div>
    </div>


{% endblock %}

 {% block sonata_admin_content_actions_wrappers %}
     <ul class="nav navbar-nav navbar-right">
         <li class="">
             {#<input type="button" class="btn btn-small btn-success" value="Import List" data-toggle="modal"#}
             {#data-target="#clinicImportJoinerModal" style="margin-top:8px;"/>#}
         </li>
     </ul>
     {{ parent() }}
 {% endblock sonata_admin_content_actions_wrappers %}